/* Brand colors */
$color-primary: #091644;
$color-secondary: #3464c7;
$color-tertiary-blue: #889bd8;

/* Functional colors */
$color-danger: #d62516;
$color-warning: #edac1b;
$color-success: #288034;
$color-inactive: #d9d9d9;
$color-info: blue;

/* Background Colors */
$color-gray-bg: #676a7a;
$color-gray-bg2: #a3a6b8;
$color-light-gray-bg: #d1d4e3;

/* Other colors */
$color-light-gray: #d9d9d9;
$color-light-black: #333;
$color-light-black-bg: #333333b3;
$color-light-gray-two: #ebe8e8;
$color-blue: #0095d0;
$color-dark-gray: #424549;
$color-black: #000;
$color-white: white;
$color-gray: #777;
$color-off-white: #f8f9ff;
$color-yellow: #fabf6f;
$color-dark-blue: #313d7a;
$color-darkest-blue: #091644;
